body {
	margin: 0 auto;
	min-width: 320px;
	font: 14px/1.5 "Open Sans", sans-serif;
	color: #656565;
	background: #fff;
}
a {
	color: #656565;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.page {
	overflow: hidden;
	position: relative;
	min-height: 100vh; /*высота экрана*/
}
.container {
	margin: 0 auto;
	width: 1024px;
	/*background: #f00;*/
}
.clearfix:after, 
.container:after {
	content:'';
	display: block;
	clear: both;
}
#header {
	
}
.mobile-nav {
	float: right;
}
.header-right {
	float: right;
}

.header-right {
	margin-right: 0px;
}
.top-row {
	background: #4cb1ca;
	color: #fff;
	font-size: 13px;
	padding: 10px 0px 11px 0px;
}

.settings {
	float: left;
}
.settings label {
	color: #c8f4ff;
	font-weight: 500;
}
#lang {
	border: none;
	background: #4cb1ca;
	color: #fff;
	margin-right: 8px;
}
#currency {
	border: none;
	background: #4cb1ca;
	color: #fff;
}
.top-nav {
	color: #fff;
	font-size: 13px;

}
.top-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.top-nav li {
	display: inline-block;
	box-sizing: border-box;
	padding-left: 13px;
	padding-right: 13px;
	border-left: 1px solid #c8f4ff;
}
.top-nav li:last-child {
	padding-right: 0px;
}

.top-nav a {
	color: #fff;
}
.top-nav li:first-child {
	border-left: none;
}

.low-row {
	padding: 40px 0px 35px 0px;
}
.logo {
	float: left;
}
.main-nav {
	float: left;
	font-size: 14px;
	font-weight: 600;
	margin: 0;
}
.main-nav ul {
	padding: 3px 113px 0px 0px;
	margin: 0;
	list-style: none;
	margin: 0px auto 0px 0px;
}
.main-nav li {
	display: inline-block;
	margin: 0px 0px 0px 20px;
}

.search-area {
	float: left;
	box-sizing: border-box;
	width: 174px;
	border: 1px solid;
	border-color: #c6c6c6;
	background: #fff;
	margin-top: 0px;
	margin-right: 15px;
	padding: 2px 0px 2px 6px;
}
.search {
	border: none;
	width: 80%;
}
.btn-search {
	background: #fff;
	border: none;
}

.basket-area {
	float: left;
}

.price, .basket {
	text-decoration: none;
	border-radius: 50%;
	background-color: #7db122;
	font-size: 18px;
    padding: 6px;
    color: #fff;
}
.cart {
	font-weight: 600;
	margin-left: 15px;
}
.basket {
	margin-left: 5px;
}

.slider .slide {
	position: relative;
}

.slider img {
	width: 100%;
	height: auto;
}
.slider .text-block {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	color: #fff;
	width: 480px;
	margin: 0 0 0 -465px;
	transform: translate(0, -50%);
}
.slider .text-block .title {
	font-size: 28px;
	font-weight: bold;
	line-height: 47px;
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
}

.slider .text-block span {
	display: inline-block;
	vertical-align: top;
	padding: 0px 17px 0px 13px;
	margin-bottom: 3px;
	background: rgba(0, 0, 0, 0.5);
}
.slider .text-block span:first-child {
	font-weight: 300;
	font-size: 30px;
}
.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 67px;
	height: 67px;
	border-radius: 50%;
	background: #fff;
	border: 0;
	padding: 0;
	z-index: 3;
	cursor: pointer;
	color: #000 !important;
	font-size: 0;
	line-height: 0;
}
.slick-arrow.slick-prev {
	margin-left: -580px;
	left: 50%;
}
.slick-arrow.slick-prev:after {
	content: "\f104";
	font-family: "FontAwesome";
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	font-size: 55px;
	line-height: 67px; 
}
.slick-arrow.slick-next {
	right: 50%;
	margin-right: -580px; 
}
.slick-arrow.slick-next:after {
	content: "\f105";
	font-family: "FontAwesome";
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	font-size: 55px;
	line-height: 67px; 
}

.main-content {
	padding: 40px 0px 40px 0px;
}

.main-products {
	width: 77%;
	display: inline-block;
	box-sizing: border-box;
}

h2 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0;
	line-height: 1;
	padding: 0px 0px 22px 0px;
}

.aside {
	width: 23%;
	float: right;
	margin: 0 0 0 auto;
	position: relative;
	box-sizing: border-box;
}
.aside h2 {
	text-align: center;
	padding: 24px 30px 36px 30px;
	border-top: 5px solid #4cb1ca;
	line-height: 1.1;	
}
.aside img {
	width: 90%;
	height: auto;
	margin: 0 auto;
}
.ad-container {
	border: 1px solid #eee;
	box-shadow: 1px 1px 1px 1px #eee;
	margin: 0px 0px 25px 0px;
	text-align: center;
}

.btn-cart {
	float: right;
}
.product-list p{
	margin: 0 auto;
}
.price-box {
	float: left;
}
.product-list ul {
	padding: 0;
	list-style: none;
	float: left;
	margin-top: 0px;
	margin-bottom: 27px;
}
.product-list li {
	float: left;
	margin: 0px 30px 25px 0px;	
	padding: 7px 7px 23px 7px;
	box-shadow: 0 0 1px 1px #eee;
	position: relative;
  	border: 1px solid #eee;
  	/*width: 230px;*/
}
.product-list li:nth-child(3n) {
	margin-right: 0px;
}
.photo {
	display: block;
}
.text-item {
	float: left;
	width: 160px;
}
.old-price {
text-decoration: line-through;
}
.new-price {
	color: green;
	font-size: 18px;
}
.ribbon {
  position: absolute;
  /*right: -5px; top: -5px;*/
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.green {
	left: -5px; top: -5px;
}
.blue {
	right: -5px; top: -5px;
}
.ribbon span {
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  /*transform: rotate(45deg);
  -webkit-transform: rotate(45deg);*/
  width: 100px;
  display: block;
  /*background: #79A70A;*/
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  /*top: 19px; right: -21px;*/
}
.green span {
	background: #79A70A;
	transform: rotate(-45deg);
	-webkit-transform: rotate-45deg);
	top: 19px; left: -21px;
}
.blue span{
	background: #4cb1ca;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	top: 19px; right: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}

/*.ad-gallery button.slick-prev.slick-arrow::after {
	display: none;*/
/*.ad-gallery .slick-arrow {
	position: absolute;
	top: 50%;
	transform: translate(0, -100%);
	width: 67px;
	height: 67px;
	border-radius: 50%;
	border: 0;
	padding: 0;
	z-index: -1;
	cursor: pointer;
	font-size: 0;
	line-height: 0;
}*/
.slick-dots {
	display: block; 
	margin: 0 auto;
	text-align: center;
	padding-left: 0px;
    padding-bottom: 15px;
    padding-top: 5px;
	border-top: 2px solid #eee;
}
.slick-dots li {
	display: inline-block;
	margin: 0px 5px 0px 5px;	
}
.slick-dots li button{
	font-size: 0px;
	border-radius: 50%;
	border: 1px solid transparent;
	width: 10px;
	height: 10px;
    padding: 2px 2px;
    background: #7db122; 
}
li.slick-active button{
	background: #4cb1ca; 
}
aside .slider img {
	width: 90%;
	height: auto; 
	margin: 0 auto;
	padding-bottom: 5px;
}
.aside .slide {
	position: relative;
}
.btn-check {
	position: absolute;
	bottom: 20px;
	right: 50px;
	padding: 15px 25px;
	background-color: #4cb1ca;
	color: #fff;
}
.aside h3 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0;
	line-height: 1.2;
	padding: 20px 0px 0px 0px;
	text-align: center;
	border-top: 5px solid #4cb1ca;
}
.aside p {
	margin-bottom: 10px;
}
.aside p:after {
	content: "";
	display: block;
	clear: both;
	margin: 10px auto;
	width: 85px;
	border: 1px solid #ededed;
}
.subscribe-text {
	border: 1px solid #e2e2e2;
	padding: 6px 0px 6px 0px;
	/*width: 175px;*/
}

.btn-subscribe {
	margin: 15px 0px 30px 0px;
	padding: 15px 25px;
	background-color: #7eb123;
	color: #fff;
}

.footer {
	color: #fff;
}
.top-footer {
background: #4cb1ca;
padding: 17px 0px 17px 0px;
}
.delivery, .phone {
	vertical-align: middle;
	display: inline-block;
}
.delivery {
	width: 54%;
}
.phone {
	vertical-align: middle;
	display: inline-block;
	width: 45%;
}

.delivery i, .phone i{
	font-size: 35px;
	border-radius: 50%;
	background: #fff;
	color: #39a0b9;
}
.delivery i {
	padding: 15px 15px;
	vertical-align: middle;
	margin-right: 15px;
}
.phone i {
	padding: 15px 19px;
	vertical-align: middle;
	margin-right: 15px;
}
.top-footer p{
	display: inline-block;
	vertical-align: middle;
	font-size: 21px;
	text-transform: uppercase;
	font-weight: 500;
	/*margin: 10px 0px 10px 0px;*/
	background: #4cb1ca;
}
/*.facebook {
	width: 236px;
}
.twitter {
	width: 263px;
}
.info {
	width: 260px;
}*/
.main-footer {
	margin: 0 auto;
	padding: 10px 0px 50px 0px;
	background: #39a0b9;
}
.main-footer h4 {
	font-size: 21px;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.socials, .info, .contucts {
	display: inline-block;
	vertical-align: top;	
}
.socials {
	width: 28%;
}
.info {
	width: 24%;
} 
.contucts {
	width: 17%;
}
.footer-nav li {
	font-size: 13px;
	list-style-type: none;
	line-height: 2;

}
.footer-nav ul {
	margin: 0;
	-webkit-padding-start: 0px;
}
.contucts ul {
	margin: 0;
	-webkit-padding-start: 0px;
}
.contucts li {
	font-size: 13px;
	list-style-type: none;
	line-height: 2;
}
.socials-icon {
border-top: 1px solid white;
padding: 10px 0px;
}
.socials-icon li{
display: inline-block;
padding: 5px 10px;
margin-right: 5px;
background: #fff;
border-radius: 50%;
text-align: center;
line-height: 1.5;
}
.socials-icon i {
font-size: 20px;
color: #39a0b9;
}
.main-footer a {
color: #fff;
}
.socials-icon li:first-child{
	padding: 5px 5px;
}
.socials-icon li:last-child{
	padding: 5px 12px;
	margin-right: 0px;
}	

.low-footer {
	background: #0b4b5a;
	padding: 20px 0px 20px 0px;
	color: #8adcf0;
}
.low-footer a {
	color: #8adcf0;
}
.copyright, .low-footer-nav {
	display: inline-block;
	vertical-align: middle;
}
.low-footer ul {
	list-style: none;
	float: right;
	margin: 0px 0px 0px 0px;
}

.low-footer li {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	vertical-align: middle;
	border-left: 1px solid #39a0b9;
	padding-left: 13px;
	padding-right: 13px;
}
.top-nav a {
	color: #fff;
}
.low-footer li:first-child {
	border-left: none;
}
.low-footer li:last-child {
	padding-right: 0px;
}
.footer-right {
	float: right;
}


/*RESPONSIVE*/
#header .container {
	position: relative;
} 
.btn-burger {
	display: none;
}
.btn-burger1 {
	display: none;
}
address {
	display: none;
}

/*min 768 to 980*/
@media screen and (max-width: 1366px) {
	.slick-arrow.slick-prev {
		margin: 0;
		left: 3%;
	}
	.slick-arrow.slick-next {
		margin: 0;
		right: 3%;
	}
	.slider .text-block {
		margin: 0;
		left: 6%;
	}
}


@media screen and (max-width: 980px) {
	.container {
		max-width: 768px;
		margin: 0 auto;
	}
	.mobile-nav {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		width: 380px;
		background: #fff;
		margin: 100px 0  0;
		padding: 20px;
		z-index: 999;
		/*border: 1px solid black;*/
		transform: translateX(100%);
		transition: all .5s ease;
	}
	.open .mobile-nav {
		transform: translateX(0);
	}
	.btn-burger {
		display: block;
		position: absolute;
		top: 0px;
		right: 50px;
	}

	.btn-burger:after{	
		content: "";
		z-index: 998;
		background: #f00;
		opacity: 0;
		position: fixed;
		top: 50px;
		right: 50px;
		width: 100vw; /*view port / view width*/
		height: 100vh; /*view port / view height*/
		display: none;
	}
	.open .btn-burger:after{
		display: block; /*Скрыть бургер при нажатии вне окна*/
		}
	.mobile-nav1 {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		width: 380px;
		background: #fff;
		
		margin: 100px 0 0 0;
		padding: 20px;
		z-index: 999;
		/*border: 1px solid black;
		/*display: none;*/
		transform: translateX(-100%);
		transition: all .25s ease-in-out;
	}
	.mobile-nav1 a{
		color: #656565;
	}
	.open .mobile-nav1 {
		/*display: block;*/
		transform: translateX(0);
	}
	.btn-burger1 {
		display: block;
		position: absolute;
		top: 0;
		left: 20px;
		color: #fff;
	}
	
	.low-row {
		padding: 15px 0;
	}
	.top-nav {
		float: none;
	}
	.settings {
		float: none;
		text-align: center;
	}
	.main-nav {
		float: none;
	}
	.main-nav li {
		display: block;
	}
	.main-nav ul {
		float: none;
	}
	.search-area {
		margin: 20px 20px;
		float: none;
	}
	.basket-area {
		float: none;
		margin: 15px 15px;
	}
	.basket-area a{
		margin-right: 20px;
	}
	.header-right {
		float: none;
	}
	.open {
		/*background: rgba(0, 0, 0, 0.5);*/
	}
	.top-nav {
		float: none;
	}
	.top-nav ul {
		padding: 0;
		margin: 0;
		list-style: ;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;	
	}
	.top-nav li {
		display: block;
		margin: 0px 0px 0px 20px;	
		border: none;
	}
	
	.aside {
		display: block;
		max-width: 280px;
		margin: 0 auto;
		float: none;
		width: 100%;
	}
	.main-products {
		float: none;	
    	display: inline-block;
    	margin: 0 auto;
    	text-align: center;
    	width: 100%;
	}
	.product-list ul {
		float: none;
	}
	.product-list li {
		display: inline-block;
		float: none;
		margin: 0;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	.delivery, .phone {
		display: inline-block;
		text-align: center;
		width: 100%;
	}
	.delivery {
    	margin-right: 0px;
	}
	.top-footer {
		padding: 15px 0px 15px 0px;
	}
	.delivery i, .phone i{
		font-size: 24px;
		border-radius: 50%;
		background: #fff;
		padding: 10px 10px;
	}

	.socials, .contucts {
		display: none;
	}
	.low-footer ul {
		padding-left: 0px;
	}
	.low-footer li {
		padding-left: 0px;
	}
	address {
		display: block;
	}
	.info {
		width: 100%;
	}
	.footer-nav ul {
		list-style: none;
	}
	.footer-nav li {
    display: block;
    width: 100%;
    text-align: center;
	}
	.main-footer h4 {
		display: block;
		margin: 5px 0;
		text-align: center;
	}
	.low-footer {
		text-align: center;
	}
	.low-footer ul {
    float: none;
	}
	.slick-arrow.slick-prev {
		margin: 0;
		left: 3%;
	}
	.slick-arrow.slick-next {
		margin: 0;
		right: 3%;
	}
	.slider .text-block {
		margin: 0;
		left: 15%;
	}
}

/*min 320 to 600*/
@media screen and (max-width: 600px) {
	.container {
		max-width: 320px;
		margin: 0 auto;
	}
	.aside {
	    display: block;
	    max-width: 280px;
	    margin: 0 auto;
	    float: none;
	    width: 100%;
	}
	.main-products {
		float: none;	
	    display: inline-block;
	    margin: 0 auto;
	    text-align: center;
	    width: 100%;
	}

	.top-row {
		font-sixe: 12px;
	}
	
	.mobile-nav {
		width: 280px;
	}

	.btn-burger1 {
    	left: 5px;
	}
	.mobile-nav1 {
		width: 150px;
	}	
	.mobile-nav1 a{
		color: #656565;
	}
	.regular button {
		display: none;
	}
	.slider .text-block .title {
	    font-size: 14px;
	    font-weight: bold;
	    line-height: 1.5;
	}
	.slider .text-block span {
	    padding: 0px 0px 0px 0px;
	    background: transparent;
	}
	.slider .text-block span:first-child {
	    font-weight: 500;
	    font-size: 14px;
	}
	
	.regular ul {
		display: block;
	}
	.slick-arrow {
	    width: 27px;
	    height: 27px;
    }
	.slick-arrow.slick-prev:after {
	    font-size: 17px;
	    line-height: 27px;
	}
	.slick-arrow.slick-next:after {
	    font-size: 17px;
	    line-height: 27px;
	}
	.top-footer p {
	    font-size: 14px;
	    margin: 0;
	}
	.main-content {
    	padding: 20px 0px 20px 0px;
	}
	.delivery i, .phone i {
	    font-size: 16px;
	    border-radius: 50%;
	    background: #fff;
	    padding: 10px 10px;
	    vertical-align: middle;
	    margin-right: 0px;
	}
	.low-footer {
		font-size: 12px;
	}
	.low-footer li {
    padding: 0px 5px;
    width: 24%;
	}
	.main-footer {
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    background: #39a0b9;
}
.low-footer {
    padding: 0;
}
  
}



    
